body{
    background-image: url(bg.jpg);
}
nav{
height: 40px;
    background-color: deeppink;

}
a{
    
    color: yellow;
    padding-left: 4px;
    text-decoration: none;
    font-size: 25px;
}
h1{
    font-size: 50px;
}